* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #969393;
  margin: 0;
}
header {
  background: #222;
  color: #fff;
  padding: 1px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: #fff;
  text-decoration: none;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}
.product, .cart-item {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 5px 5px 2px 2px;
}
button {
  padding: 8px 12px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background: #222;
  color: #fff;
}
footer{
  background: #222;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
}